@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Indianpolis, IN 46203<br />
    <abbr title="Phone">P:</abbr>
    212.867.5209
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:steven.grootaert@gmail.com">steven@gmail.com</a><br />
</address>